/* static/styles.css */

body {
    font-family: Arial, sans-serif;
    /*background-color: #DAF7A6;*/
    background: #ffd89b;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #19547b, #ffd89b);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #19547b, #ffd89b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

.image-container {
    text-align: center;
    margin-top: 20px;
}

.logo {
    max-width: 200px;
    height: auto;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
}

.button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 16px;
    color: white;
    background-color: #4CAF50;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #45a049;
}

.button-add {
    background-color: #19547b;
}

.button-add:hover {
    background-color: #19547b;
}

.button-update {
    background-color: #FFDD45;
}

.button-update:hover {
    background-color: #FFDD45;
}

.button-delete {
    background-color: #f44336;
}

.button-delete:hover {
    background-color: #e53935;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

form input {
    margin: 5px;
    padding: 10px;
    width: 200px;
}

form button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #45a049;
}

table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #4CAF50;
    color: white;
}

td form {
    display: inline;
}
